%li= link_to 'diasporafoundation.org', "https://diasporafoundation.org"
%li= link_to 'wiki', "https://wiki.diasporafoundation.org"
%li= link_to t('layouts.application.whats_new'), changelog_url
%li= link_to 'Code', "https://github.com/ruhrspora/diaspora"
%li= link_to(t('layouts.application.toggle'), toggle_mobile_path)
